# Advent of Code 2022 with Pandas

* https://adventofcode.com/2022/

In [1]:
import pandas as pd
import numpy as np

def display_data(day, n):
    '''
    Displays the top n lines from day data
    
    Example
    -------
    display_data(1, 10) # displays the top 10 lines from the first day's data
    '''
    with open(f'data/day{day}.txt') as f:
        for _ in range(n):
            print(f.readline(), end='')

# Day 1a

Find max total in a group. Each group is separated by a blank line in the file.

In [2]:
display_data(1, 20)

9524
12618
6755
2121
12876
11330

4029
11446
11571
2683
3454
12411

6226
9901
6735
7602
4045
4643

In [3]:
s = pd.read_csv('data/day1.txt', header=None, 
                skip_blank_lines=False).squeeze()
s.head(20)

0      9524.0
1     12618.0
2      6755.0
3      2121.0
4     12876.0
5     11330.0
6         NaN
7      4029.0
8     11446.0
9     11571.0
10     2683.0
11     3454.0
12    12411.0
13        NaN
14     6226.0
15     9901.0
16     6735.0
17     7602.0
18     4045.0
19     4643.0
Name: 0, dtype: float64

In [4]:
groups = s.isna().cumsum()
groups.head(20)

0     0
1     0
2     0
3     0
4     0
5     0
6     1
7     1
8     1
9     1
10    1
11    1
12    1
13    2
14    2
15    2
16    2
17    2
18    2
19    2
Name: 0, dtype: int64

In [5]:
group_total = s.groupby(groups).sum()
group_total.head()

0
0    55224.0
1    45594.0
2    46528.0
3    44989.0
4    34883.0
Name: 0, dtype: float64

In [6]:
group_total.max()

73211.0

# Day 1b

Total the largest 3 groups

In [7]:
group_total.nlargest(3).sum()

213958.0

## Master Data Analysis with Python

[Comprehensive text on doing data analysis with Pandas][1]

* 500+ exercises
* Video lessons
* Certification exams

[1]: https://dunderdata.com/master-data-analysis-with-python

# Day 2a 

Play rock, paper, scissors vs opponent
* First column opponent
    * A - rock
    * B - paper
    * C - scissors
* Second column you
    * X - rock
    * Y - paper
    * Z - scissors
    
The score for a single round is the score for the shape you selected (1 for Rock, 2 for Paper, and 3 for Scissors) plus the score for the outcome of the round (0 if you lost, 3 if the round was a draw, and 6 if you won).

In [8]:
display_data(2, 10)

A Y
B Y
B Z
B Z
B X
B Z
C Y
A Z
C X
C X

In [9]:
s = pd.read_csv('data/day2.txt', header=None).squeeze()
s.head(10)

0    A Y
1    B Y
2    B Z
3    B Z
4    B X
5    B Z
6    C Y
7    A Z
8    C X
9    C X
Name: 0, dtype: object

In [10]:
s.replace({'A X': 4,
           'A Y': 8,
           'A Z': 3,
           'B X': 1,
           'B Y': 5,
           'B Z': 9,
           'C X': 7,
           'C Y': 2,
           'C Z': 6}).sum()

15422

## Day 2b

* X - lose
* Y - draw
* Z - win

In [11]:
s.replace({'A X': 3,
           'A Y': 4,
           'A Z': 8,
           'B X': 1,
           'B Y': 5,
           'B Z': 9,
           'C X': 2,
           'C Y': 6,
           'C Z': 7}).sum()

15442

## Master Data Analysis with Python

[Comprehensive text on doing data analysis with Pandas][1]

* 500+ exercises
* Video lessons
* Certification exams

[1]: https://dunderdata.com/master-data-analysis-with-python

## Day 3a

In [12]:
s = pd.read_csv('data/day3.txt', header=None).squeeze()
s.head()

0      FzQrhQpJtJMFzlpplrTWjTnTTrjVsVvvTnTs
1    mScqSqqgcfPCqGPZcfGNSvTNsVVNSjNvWSNsNz
2                    fPcPGqgCcHgFzQpJJtHtJH
3              DZDqqlrjplDHrNCmnBcHBMCRcJzb
4                        RQFLStFvdcBbzdJbJM
Name: 0, dtype: object

In [13]:
half1 = s.apply(lambda x: x[:len(x) // 2]).str.get_dummies('')

In [14]:
half2 = s.apply(lambda x: x[len(x) // 2:]).str.get_dummies('')

In [15]:
s1 = (half1 * half2).idxmax(axis=1)
s1

0      r
1      S
2      H
3      H
4      d
      ..
295    t
296    C
297    g
298    Q
299    T
Length: 300, dtype: object

In [16]:
df = half1 * half2
df

     B  C  D  F  G  H  J  L  M  N  ...  m  n  p  q  r  s  t  v  w  z
0    0  0  0  0  0  0  0  0  0  0  ...  0  0  0  0  1  0  0  0  0  0
1    0  0  0  0  0  0  0  0  0  0  ...  0  0  0  0  0  0  0  0  0  0
2    0  0  0  0  0  1  0  0  0  0  ...  0  0  0  0  0  0  0  0  0  0
3    0  0  0  0  0  1  0  0  0  0  ...  0  0  0  0  0  0  0  0  0  0
4    0  0  0  0  0  0  0  0  0  0  ...  0  0  0  0  0  0  0  0  0  0
..  .. .. .. .. .. .. .. .. .. ..  ... .. .. .. .. .. .. .. .. .. ..
295  0  0  0  0  0  0  0  0  0  0  ...  0  0  0  0  0  0  1  0  0  0
296  0  1  0  0  0  0  0  0  0  0  ...  0  0  0  0  0  0  0  0  0  0
297  0  0  0  0  0  0  0  0  0  0  ...  0  0  0  0  0  0  0  0  0  0
298  0  0  0  0  0  0  0  0  0  0  ...  0  0  0  0  0  0  0  0  0  0
299  0  0  0  0  0  0  0  0  0  0  ...  0  0  0  0  0  0  0  0  0  0

[300 rows x 36 columns]

In [17]:
from string import ascii_letters
letter_map = dict(zip(ascii_letters, range(1, 53)))
df.idxmax(axis=1).replace(letter_map).sum()

7908

## Day 3b

In [18]:
groups = np.repeat(np.arange(100), 3)
groups[:12]

array([0, 0, 0, 1, 1, 1, 2, 2, 2, 3, 3, 3])

In [19]:
s.groupby(groups).apply(lambda x: x.str.get_dummies('').prod().idxmax()).replace(letter_map).sum()

2838

# Advent of Code Day 3 Solution in Pandas

In [20]:
s.head(3)

0      FzQrhQpJtJMFzlpplrTWjTnTTrjVsVvvTnTs
1    mScqSqqgcfPCqGPZcfGNSvTNsVVNSjNvWSNsNz
2                    fPcPGqgCcHgFzQpJJtHtJH
Name: 0, dtype: object

In [21]:
from string import ascii_letters
letter_map = dict(zip(ascii_letters, range(1, 53)))
groups = np.repeat(np.arange(100), 3)
(s.groupby(groups)
  .apply(lambda x: x.str.get_dummies('').prod().idxmax())
  .replace(letter_map)
  .sum())

2838

## Step-by-step

In [22]:
(s.groupby(groups)
  .apply(lambda x: x.str.get_dummies(''))).head(3)

,C,F,G,H,J,M,N,P,Q,S,...,t,v,z,B,D,L,R,b,d,w
0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,...,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,...,0.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0,...,1.0,0.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
(s.groupby(groups)
  .apply(lambda x: x.str.get_dummies('').prod())).head(3)

0  C    0
   F    0
   G    0
Name: 0, dtype: int64

In [24]:
(s.groupby(groups)
  .apply(lambda x: x.str.get_dummies('').prod().idxmax())).head(3)

0    z
1    R
2    d
Name: 0, dtype: object

In [25]:
(s.groupby(groups)
  .apply(lambda x: x.str.get_dummies('').prod().idxmax())
  .replace(letter_map)).head(3)

0    26
1    44
2     4
Name: 0, dtype: int64

In [26]:
(s.groupby(groups)
  .apply(lambda x: x.str.get_dummies('').prod().idxmax())
  .replace(letter_map)
  .sum())

2838

## Advent of Code with Pandas

## Day 4

In [27]:
display_data(day=4, n=5)

51-88,52-87
41-55,22-56
6-74,74-86
51-98,52-86
8-77,3-94

In [28]:
df = pd.read_csv('data/day4.txt', 
                 sep=',|-', 
                 engine='python', 
                 header=None, 
                 names=['left_min', 'left_max', 'right_min', 'right_max'])
df.head()

   left_min  left_max  right_min  right_max
0        51        88         52         87
1        41        55         22         56
2         6        74         74         86
3        51        98         52         86
4         8        77          3         94

In [29]:
df.query('(left_min >= right_min and left_max <= right_max) or '
         '(right_min >= left_min and right_max <= left_max)').head()

   left_min  left_max  right_min  right_max
0        51        88         52         87
1        41        55         22         56
3        51        98         52         86
4         8        77          3         94
6        29        42         29         35

In [30]:
df.query('not (left_max < right_min or right_max < left_min)').head()

   left_min  left_max  right_min  right_max
0        51        88         52         87
1        41        55         22         56
2         6        74         74         86
3        51        98         52         86
4         8        77          3         94

In [31]:
df.query('right_min <= left_min <= right_max or '
         'right_min <= left_max <= right_max or '
         'left_min <= right_min <= left_max or '
         'left_min <= right_max <= left_max').head()

   left_min  left_max  right_min  right_max
0        51        88         52         87
1        41        55         22         56
2         6        74         74         86
3        51        98         52         86
4         8        77          3         94

In [32]:
df.query('not (left_max < right_min or right_max < left_min)')

     left_min  left_max  right_min  right_max
0          51        88         52         87
1          41        55         22         56
2           6        74         74         86
3          51        98         52         86
4           8        77          3         94
..        ...       ...        ...        ...
995         4        79          3         80
996        14        50         37         37
997         5        68         46         68
998        23        63         22         63
999         3        94          1          3

[849 rows x 4 columns]