# Advent of Code 2022 with Pandas

* https://adventofcode.com/2022/

In [1]:
import pandas as pd
import numpy as np

def display_data(day, n):
    '''
    Displays the top n lines from day data
    
    Example
    -------
    display_data(1, 10) # displays the top 10 lines from the first day's data
    '''
    with open(f'data/day{day}.txt') as f:
        for _ in range(n):
            print(f.readline(), end='')

# Day 1a

Find max total in a group. Each group is separated by a blank line in the file.

In [ ]:
display_data(1, 20)

In [ ]:
s = pd.read_csv('data/day1.txt', header=None, 
                skip_blank_lines=False).squeeze()
s.head(20)

In [ ]:
groups = s.isna().cumsum()
groups.head(20)

In [ ]:
group_total = s.groupby(groups).sum()
group_total.head()

In [ ]:
group_total.max()

# Day 1b

Total the largest 3 groups

In [ ]:
group_total.nlargest(3).sum()

## Master Data Analysis with Python

[Comprehensive text on doing data analysis with Pandas][1]

* 500+ exercises
* Video lessons
* Certification exams

[1]: https://dunderdata.com/master-data-analysis-with-python

# Day 2a 

Play rock, paper, scissors vs opponent
* First column opponent
    * A - rock
    * B - paper
    * C - scissors
* Second column you
    * X - rock
    * Y - paper
    * Z - scissors
    
The score for a single round is the score for the shape you selected (1 for Rock, 2 for Paper, and 3 for Scissors) plus the score for the outcome of the round (0 if you lost, 3 if the round was a draw, and 6 if you won).

In [2]:
display_data(2, 10)

A Y
B Y
B Z
B Z
B X
B Z
C Y
A Z
C X
C X

In [3]:
s = pd.read_csv('data/day2.txt', header=None).squeeze()
s.head(10)

0    A Y
1    B Y
2    B Z
3    B Z
4    B X
5    B Z
6    C Y
7    A Z
8    C X
9    C X
Name: 0, dtype: object

In [5]:
s.replace({'A X': 4,
           'A Y': 8,
           'A Z': 3,
           'B X': 1,
           'B Y': 5,
           'B Z': 9,
           'C X': 7,
           'C Y': 2,
           'C Z': 6}).sum()

15422

## Day 2b

* X - lose
* Y - draw
* Z - win

In [6]:
s.replace({'A X': 3,
           'A Y': 4,
           'A Z': 8,
           'B X': 1,
           'B Y': 5,
           'B Z': 9,
           'C X': 2,
           'C Y': 6,
           'C Z': 7}).sum()

15442

## Master Data Analysis with Python

[Comprehensive text on doing data analysis with Pandas][1]

* 500+ exercises
* Video lessons
* Certification exams

[1]: https://dunderdata.com/master-data-analysis-with-python